.vscode
.editorconfig
.idea
.DS_Store
public/
node_modules/
/functions/activate-website-2-firebase-adminsdk-eznhq-536c58c8c7.json
/.firebase/*.cache
/functions/keys.json
/functions/package-lock.json
/firebase-debug.log
/package-lock.json
