---
title: Ty
---
<span class="comment">[ Ty ]</span>
<h1>Kdo jsi:</h1>
<section class="row crossroads">
    <a class="col align-self-center" href="<%= site.basePath %>/ty/klient" title="">
        <h2>Klient</h2>
        <ul>
            <li>Současný nebo budoucí</li>
            <li>Vím čeho chci dosáhnout</li>
        </ul>
        <span>&raquo;</span>
    </a>
    <a class="col align-self-center" href="<%= site.basePath %>/ty/kolega" title="">
        <h2>Kolega</h2>
        <ul>
            <li>Umím něco skvělého</li>
            <li>Chci se naučit velké věci</li>
        </ul>
        <span>&raquo;</span>
    </a>
</section>
