---
title: Ty
---
<section class="main-claim clearfix ta-center">
    <span class="comment">[ Ty ]</span>
    <h1 class="arrows-left-right-down">Kdo jsi?</h1>
    <a class="big-blue-box first" href="<%= site.basePath %>/klient" title="">klient</a>
    <a class="big-blue-box second" href="<%= site.basePath %>/kolega" title="">kolega</a>
</section>
