---
title: Chytrý e-mailový marketing
description: Za každou 1 Kč, kterou do e-mail marketingu investujete, vám přineseme 38x tolik! Zlepšete Open Rate a CTR vašich e-mailových kampaní.
---
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment">[ Provedeme vás touhle cestou ]</span>
        <h1 class="ml-sm-5 underline">Zlepšíme váš e-mailing. A to hodně!</h1>
        <p class="ml-sm-5">Nejradši máme ty klienty, jejichž jsme sami spokojenými zákazníky. Naší prací budeme ještě
            spokojenější.</p>
        <p class="ml-sm-5">Na začátku naší cesty je klient, který má potenciál a chuť se rozvíjet na základě dat. Cílem
            je pak společná cesta jednotného týmu, který
            naplno využívá jejich potenciál.</p>
    </div>
    <div class="col-sm-4 align-self-center hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <img src="<%= site.basePath %>/assets/imgs/graf.png"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment comment-right">[ Napsáno podle skutečných událostí ]</span>
        <h1 class="ml-sm-5">Co můžete získat?</h1>
        <ul class="ml-sm-5 number-list underline-list">
            <li>Za každou 1 Kč, kterou do e-mailingu investujete <strong>vám přineseme 38x tolik</strong>. A třeba i
                víc.
            </li>
            <li><strong>Příprava produktového newsletteru vám zabere hodinu.</strong> Maximálně. I s rozesílkou. Za den
                klidně zvládnete rozeslat i 20 kampaní do různých zemí světa.
            </li>
            <li><strong>Dostaneme váš open rate na 60 %</strong> a nezastavíme se ani před dvacetiprocentním CTR.</li>
        </ul>
        <p class="ml-sm-5">Ale hlavně získáte partnera, který jen nesedí a nečeká, až mu zadáte další rozesílku. S
            vašimi kampaněmi žijeme, přicházíme každou chvíli s nějakým zlepšovákem a postupně posouváme výsledky
            nahoru. Společně.</p>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/pavel-pola.jpg"/>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci začít ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <h1 class="ml-sm-5">Na počátku bývá chaos</h1>
        <ul class="ml-sm-5 questionmark-list underline-list">
            <li>Nevíte, jestli vám e-mailing vůbec vydělává? Nebo víte, ale jste v mínusu nebo balancujete někde kolem
                nuly? Pak jste tady správně.
            </li>
            <li>Příprava newsletteru trvá dny až týny a představa, že byste to posílali do dalších zemí je naprosto
                nereálná.
            </li>
            <li>Typicky se nám hlásí klienti, kteří mají 10-15% open rate a CTR na úrovni statistické chyby.</li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
        <div class="row">
            <div class="col"><span class="comment-straight">V tomhle stavu nás většinou klient kontaktuje...</span>
            </div>
        </div>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <h1 class="ml-sm-5">Co uděláme pro zlepšení?</h1>
        <ul class="ml-sm-5 check-list underline-list">
            <li>Najděte ve firmě parťáka, který to chce dělat správně - to je úplný základ.</li>
            <li>Uděláme audit toho, co a jak máte nastavené. Máme k tomu více než stobodový checklist. Z něj vypadnou
                snadno řešitelné úkoly a plán budoucího zlepšování.
            </li>
            <li>Potom budeme společně pracovat a po menších krocích se dobereme podstatného zlepšení vašich výsledků. Za
                rok bude váš e-mailing vypadat o dost jinak.
            </li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
        <span class="comment">[ S tímhle týmem můžete pracovat ]</span>
        <img src="<%= site.basePath %>/assets/imgs/mailkit.jpg"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-12 col- text-content align-self-center">
        <h1 class="ml-sm-5">Co nás může zastavit?</h1>
        <ul class="ml-sm-5 cross-list">
            <li>Neumíme pracovat ve chvíli, kdy nás neposloucháte a děláte si to po svém. Když nám nevěříte a
                důležitější než výsledek, je seškrtání hodin ve výkazu práce.
            </li>
            <li>Bez dat to nepůjde. Pokud nejsou nebo jsou v nepořádku, tak to bude na začátku trochu bolet.</li>
            <li>Výsledky nejsou přes noc. Je to o chuti experimentovat, dělat A/B testy, vyhodnocovat je a posouvat se
                stovkou malých krůčků kupředu. Pokud nechcete testovat, nezajímají vás výsledky nebo při prvním
                neúspěchu hledáte jinou agenturu, tak ani nevolejte.
            </li>
        </ul>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <p class="ml-sm-5">Spolupracovat s námi není jednoduché, protože jsme nároční a vyžadujeme vaše zapojení. Když
            se s námi rozhodnete postupovat kroky datové transformace, nekupujete si agenturu, ale individuální přístup,
            průvodce digitálním prostředím.</p>
    </div>
</section>
<%- include('../../partials/contact-form') %>
