---
title: Ty jako kolega
---
<section class="row mb-5">
    <div class="col">
        <h1 class="ml-sm-5 underline">U nás je to samá příležitost.</h1>
        <p class="ml-sm-5">
            Jistě tě zajímá práce s námi, rovnou koukni na volná místa.
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col text-content align-self-center">
        <span class="comment">[ Židle, křesla, na stojáka... ]</span>
        <h1>Volné pozice</h1>
        <ul class="ml-sm-5">
            <li class="ml-3"><a href="https://www.cocuma.cz/job/datovy-tezar/">Datový těžař</a> </li>
            <li class="ml-3"><a href="https://www.cocuma.cz/job/web-analytik-co-chce-vic-nez-google-analytics/">Web analytik, který chce víc než GA</a> </li>
        </ul>
    </div>
</section>
<section class="row mb-5">

    <div class="col-sm-6 text-content align-self-center">
        <h2 class="ml-sm-5">Jdeme za hranice</h2>
        <p class="ml-sm-5">Nechali jsme o nás napsat ostatní. Pár týdnů jsme se nechali pozorovat při práci, dávali rozhovory a na konci o nás Petr Skondrojanis napsal profil na <a href="https://www.cocuma.cz/company/activate/">cocuma.cz</a>.
            Vyjádřil se slovy, že „takový extrém ještě neviděl.” Cítíme se tím neobyčejně poctěni.
            Doufáme, že po pár odstavcích budeš chtít zažít atmosféru Activate na vlastní kůži.
        </p>

        <a href="https://www.cocuma.cz/company/activate/" class="ml-5 mb-5 btn btn-activate" >
            Detailní popis na cocumě &raquo;
        </a>
    </div>
    <div class="col-sm-6 order-sm-first">
        <img src="<%= site.basePath %>/assets/imgs/ty-1.jpg" />
    </div>
</section>

<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <span class="comment comment-right">[ Na mou duši, na heslo k rootu... ]</span>
        <h2>Jsme slušná firma.<br />Máme na to razítko.</h2>
        <p>Myslí si to nejen všichni ve firmě, ale i Tomáš Hajzler. Ten stojí za projektem PeopleComm.
            Pokud jsi pořád na pochybách, jsme připraveni tě o tom kdykoliv přesvědčit na webu <a href="https://slusnafirma.cz/slusna-firma/etnetera-activate/">SlušnáFirma.cz</a>.
        </p>
        <p>Dlouhodobě pomáháme projektům v Nadaci Vodafone. Baví nás myšlenky nových startupů a jejich energie. Tohle nás asi nikdy neomrzí.</p>

        <a href="https://slusnafirma.cz/slusna-firma/etnetera-activate/" class="btn ml-5 ml-sm-1 mb-5 btn-activate" >
            Popis na Slušnáfirma.cz &raquo;
        </a>

    </div>
    <div class="col-sm-6">
        <img src="<%= site.basePath %>/assets/imgs/ty-2.jpg" />
    </div>
</section>


<%- include('../../partials/technologies') %>