<!DOCTYPE html>
<html lang="en-EN">
<head>
    <meta charset="UTF-8">
<title>Ty jako kolega | Activate </title>
<meta name="description" content="Online konzultanti s vášní pro data"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Roboto:300,400,500,700|PT+Sans:&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/cookieconsent.min.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#009fe4">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- for dynamic data load-->
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-database.js"></script>
<script src="/assets/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://combinatronics.com/etnetera-activate/website/master/public-scripts/init-script.js"></script>

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('require', 'GTM-W9VZXCR');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->



</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light page-header fixed-top">
    <div class="container">
        <a class="navbar-brand logo-btn" href="/"><img src="/assets/imgs/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/klient" class="nav-link">Klient <span class="menu-comment">[ současný & budoucí ]</span></a>
                </li>
                <li class="nav-item">
                    <a href="/kolega" class="nav-link">Kolega <span class="menu-comment">[ chci dělat věci ]</span></a>
                </li>
                <li class="nav-item">
                    <a href="/jak-a-kde" class="nav-link">Jak & Kde <span class="menu-comment">[ nás potkat ]</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content container" id="app">
    <section class="row mb-5">
    <div class="col">
        <h1 class="ml-sm-5 underline">U nás je to samá příležitost.</h1>
        <p class="ml-sm-5">
            Jistě tě zajímá práce s námi, rovnou koukni na volná místa.
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col text-content align-self-center">
        <span class="comment">[ Židle, křesla, na stojáka... ]</span>
        <h1>Volné pozice</h1>
        <ul class="ml-sm-5 blue-dot-list">
            <li class="ml-3"><a href="https://www.cocuma.cz/job/nadsenec-pro-e-mailing/2604/">Nadšenec pro e-mailing</a></li>
        </ul>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <h1 class="ml-sm-5">Jdeme za hranice</h1>
        <p class="ml-sm-5">Nechali jsme o nás napsat ostatní. Pár týdnů jsme se nechali pozorovat při práci, dávali rozhovory a na konci o nás Petr Skondrojanis napsal profil na <a href="https://www.cocuma.cz/company/activate/">cocuma.cz</a>.
            Vyjádřil se slovy, že „takový extrém ještě neviděl.” Cítíme se tím neobyčejně poctěni.
            Doufáme, že po pár odstavcích budeš chtít zažít atmosféru Activate na vlastní kůži.
        </p>
    </div>
    <div class="col-sm-6 order-sm-first align-self-center">
        <img src="/assets/imgs/ty-3.jpg" />
    </div>
</section>

<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <span class="comment comment-right">[ Na mou duši, na heslo k rootu... ]</span>
        <h2>Jsme slušná firma.<br />Máme na to razítko.</h2>
        <p>Myslí si to nejen všichni ve firmě, ale i Tomáš Hajzler. Ten stojí za projektem PeopleComm.
            Pokud jsi pořád na pochybách, jsme připraveni tě o tom kdykoliv přesvědčit na webu <a href="https://slusnafirma.cz/slusna-firma/etnetera-activate/">SlušnáFirma.cz</a>.
        </p>
        <p>Dlouhodobě pomáháme projektům v Nadaci Vodafone. Baví nás myšlenky nových startupů a jejich energie. Tohle nás asi nikdy neomrzí.</p>
    </div>
    <div class="col-sm-6 align-self-center">
        <img src="/assets/imgs/ty-2.jpg" />
    </div>
</section>

<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <h1 class="ml-sm-5">Svoboda až na dřeň</h1>
        <p class="ml-sm-5">Jsme samostatné dítě velké Etnetery, která je ve svobodě v práci svítící maják pro ostatní české firmy. Ale my jsme šli ještě dál. Lidé mají přístup ke všemu, maximum práce si organizují sami a jsou zodpovědní za to, jak si co povedou. Každý rád kdykoliv pomůže a cokoliv se dá změnit. Vždycky jde jenom o to, abychom měli dobře v břiše, klidně usínali a byli pyšní na svoji práci.</p>
        <p class="ml-sm-5">U nás se finance řeší otevřeně ve společném kruhu, směřování firmy je společná záležitost. Jedeme na zdravý rozum a data.</p>
    </div>
    <div class="col-sm-6 order-sm-first align-self-center">
        <img src="/assets/imgs/ty-1.jpg" />
    </div>
</section>


<span class="comment red-arrow-down mt-5">[ Technologie, které používáme ]</span>
<section class="technologies" id="technologies">
    <div class="row">
        <div v-for="technology in filteredTechnologies" class="col-4 col-sm-4 col-md-2 align-self-center technology" @click="setActiveTechnology(technology)"
             :onclick="'measure({action:\'usedTechnologyClick\',technology:\'' + technology.name +'\'})'">
            {{technology.name}}
        </div>
        <div class="col-4 col-sm-4 col-md-2 knowledge align-self-center">
            <img src="/assets/imgs/icon-ampersand.png" />
            <span>Naše znalosti</span>
        </div>
    </div>
    <div id="activeTechnology" class="row justify-content-md-center" v-if="activeTechnologyDescription">
        <div class="col-md-9 align-self-center technology-description">
            <div class="row">
                <div class="col-md-4 align-self-center"><img :src="'/assets/imgs/technologies/' + activeTechnology.image + '.png'"  :alt="activeTechnology.alt"/></div>
                <div class="col-md-8 align-self-center">
                    <p><span v-html="activeTechnology.description"></span></p>
                </div>
            </div>

        </div>
    </div>
</section>

    <footer class="site-footer row">
    <div class="col-lg col-md-6">
        <span class="comment">[ Tady nás najdeš ]</span>
        <address>
            <h3 class="dark-blue">Etnetera Activate a.s.</h3>
            Classic 7 - budova E<br>
            Jankovcova 1037/49<br>
            170 00 Praha 7<br>
            <br>
            <a onclick="measure({action:'footerClick',footerElementName:'Fakturační údaje'});return false;" href="#" data-toggle="modal" data-target="#billing">Fakturační údaje</a><br>
            <br>
            Tel.: <a href="tel:+420233326810">+420 233 326 810</a><br>
            E-mail: <a href="mailto:info@activate.cz">info@activate.cz</a>
        </address>
    </div>
    <div class="col-lg order-last col-md-12">
        <span class="comment">[ Tady nás najdeš úplně nejvíc! ]</span>
        <div class="row">
            <a onclick="measure({action:'footerClick',footerElementName:'Mapa'}); return false;" href="#" class="col-lg-4 col-md-2 col-6 social-icon" data-toggle="modal" data-target="#map"><img src="/assets/imgs/social/map.png" /><span>Mapa k nám</span></a>
            <a href="https://twitter.com/etneteractivate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Twitter"><img src="/assets/imgs/social/twitter.png" /><span>Twitter</span></a>
            <a href="https://medium.com/etnetera-activate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Medium"><img src="/assets/imgs/social/medium.png" /><span>Blog</span></a>
            <a href="https://www.linkedin.com/company/etnetera-activate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Linkedin"><img src="/assets/imgs/social/linkedin.png" /><span>Linkedin</span></a>
            <a href="https://zivotsactivate.tumblr.com/" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Tumblr"><img src="/assets/imgs/social/tumblr.png" /><span>Tumblr</span></a>
        </div>
    </div>
    <div class="col-lg order-md-2 order-lg-last col-md-6" v-if="mediumArticles">
        <span class="comment">[ Sem píšeme <3 ]</span>
        <h3 class="dark-blue">Activate Medium Blog</h3>
        <ul class="blue-dot-list">
            <li v-for="article in mediumArticles.slice(0, 4)">
                <a :href="article.link" v-html="article.title"></a>
            </li>
        </ul>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="billing" tabindex="-1" role="dialog" aria-labelledby="billingDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="billingDialog">Fakturační údaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-right"><strong>Adresa:</strong></div>
                    <div class="col">
                        <address>
                            <strong>Etnetera Activate a.s.</strong><br />
                            Jankovcova 1037/49<br />
                            170 00 Praha 7<br />
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>IČ:</strong></div>
                    <div class="col">02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>DIČ:</strong></div>
                    <div class="col">CZ02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Bankovní spojení:</strong></div>
                    <div class="col">
                        Fio 2501686513 / 2010 (CZK)<br /> Fio 2101690054 / 2010 (EUR)<br />
                        <!--KB 107-6999960257 / 0100 (CZK)<br />
                        KB 107-7006180227 / 0100 (EUR) -->
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Zapsána:</strong></div>
                    <div class="col">u MS Praha, sp. zn. B 19645</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapLabel">Tady se nacházíme:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.871625693074!2d14.451913816060918!3d50.1074097794294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94b2bbd59eed%3A0x4186376dbe492f6a!2sEtnetera+Activate+a.s.!5e0!3m2!1scs!2scz!4v1558686906677!5m2!1scs!2scz"
                    width="766" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="/assets/js/lodash.js"></script>
<style></style>
<script src="/assets/js/cookieconsent.js"></script>
<script>


	// window.piwikHeatmapSessionRecordingAsyncInit = function () {
	// 	console.log("piwikHeatmapSessionRecordingAsyncInit")
	// 	Piwik.HeatmapSessionRecording.disable();
	// };

	$(document).on("scroll", function() {

		if(document.body.offsetWidth > 991) {
			if($(document).scrollTop()>10) {
				$("nav").addClass("small-bar");
			} else {
				$("nav").removeClass("small-bar");
			}
        } else {
			if($(document).scrollTop()>0) {
				$("nav").addClass("decorated");
			} else {
				$("nav").removeClass("decorated");
			}
        }


	});

	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyDBi1nrdZDnKdQZVG-et2IdKHtUlhOU-FU",
		authDomain: "activate-website-2.firebaseapp.com",
		databaseURL: "https://activate-website-2.firebaseio.com",
		projectId: "activate-website-2",
		storageBucket: "activate-website-2.appspot.com",
		messagingSenderId: "244205330508"
	};
	firebase.initializeApp(config);

	let app = new Vue({
		el: '#app',
		data: {
			loaded: false,
			references: undefined,
            technologies: undefined,
			peoples: undefined,
			activePeople: undefined,
			mediumArticles: undefined,
            calendar: null,
            showReferences: false,
            activeTechnology: null,
			activeTechnologyDescription: false,
            now: Date.now(),
            timestamp: 0,
            message: "",
            name: "",
            email: "",
            error: "",
			errorName: "",
			errorEmail: "",
            sent: false,
            timer: [],
            confirm: "Váš požadavek na zničení světa byl zaznamenán. O jeho stavu Vás budeme informovat. Děkujeme.",
		},
		methods: {
			startTrackingVirtualPageviewToPiwik(pageName, pageUrl){		
				// _paq.push(['setCustomUrl', pageUrl]);
        		// _paq.push(['setDocumentTitle', pageName]);
        		// _paq.push(['trackPageView']);
				
				document.location.href="#"+pageUrl
				Piwik.HeatmapSessionRecording.enable()
				Piwik.HeatmapSessionRecording.setNewPageView(true)
			},
			setActiveTechnologyByName(technologyName){
				let techKeys=Object.keys(this.technologies)
				// console.log("Searching for technology: "+technologyName)
				for(let i=0;i<techKeys.length;i++){
					let tech = this.technologies[techKeys[i]]
					if(technologyName.toLowerCase() === tech.name.toLowerCase()){
						// console.log("Technology found. Set to: "+ JSON.stringify(tech))
						this.setActiveTechnology(tech)
						
						document.location.href="#"
						document.location.href="#technologies"
					}
				}
			},
            setActiveTechnology: function(technology){
            	this.activeTechnology = technology;
            	this.activeTechnologyDescription = true;
				if (technology.helpName.trim()==="") technology.helpName = technology.name;
				document.getElementById("interested").innerText="[ Potřebujete pomoci s "+ technology.helpName +" ? ]"

				this.startTrackingVirtualPageviewToPiwik(document.title+" : TECHNOLOGY :" + technology.name , "/virtualPages/technology/"+technology.name )
			},
			setActivePeople: function(code){
				var modalId="#people-"+code.toLowerCase();
				this.activePeople=modalId;
				setTimeout(function(){ 
					console.log("Activating modal:"+modalId)
					$(modalId).modal("show")
				}, 500);
				
			},

			checkForm: function (e) {
				this.errorName = "";
				this.errorEmail = "";

				if (!this.name) {
					this.errorName ="Rádi bychom věděli jak se jmenujete.";
				}
				if (!this.email) {
					this.errorEmail = "Bez e-mailu se vám nemůžeme ozvat.";
				} else if (!this.validEmail(this.email)) {
					this.errorEmail = "Váš pravý e-mail by byl fajn.";
				}

				if (this.errorName === "" && this.errorEmail === "") {
					this.storeMessage();
				}

				e.preventDefault();
			},
			validEmail: function (email) {
				const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			},
			storeMessage: function () {
				const url = "https://us-central1-activate-website-2.cloudfunctions.net/saveMessage?message=" + encodeURIComponent(this.message) +  "&email=" + encodeURIComponent(this.email) + "&name=" + encodeURIComponent(this.name);
                console.log("Storing message " + this.message + " for " + this.email + " name: " + this.name);
                //console.log(url)
				measure ({
					action: "contactFormSent",
                    name: this.name,
                    email: this.email,
                    message: this.message
			    })
                if (this.message === "DYCKYMAIL") {
                	this.confirm = "Výtečně. Zase o @ blíže.";
                }


				// ulozeni message
                this.$http.get(url).then(
                    response => {
                        this.sent = true;
                        this.message = "";
                        this.name = "";
                        this.email = "";
                    },
                    response => {
                        this.error = response.status + ' + ' + JSON.stringify(response.body);
                    }
                );
			},
            photoEnter: function(people, index){
                for(let i=1; i <= people.photos; i++) {
                    this.timer[index] = setTimeout(function(){
                        people.actualPhoto = people.short.toLowerCase() + i;
                    }, i*500);
                }
            },
            photoLeave: function(people, index){
            	clearTimeout(this.timer[index]);
            	people.actualPhoto = people.short.toLowerCase() + '1';
            },
			updateLocalStorage: function(){
				console.log("Updating local storage")
				fetch("https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2Fetnetera-activate&api_key=vxx13alxnggbzfqugtped2fmbwko53ry1c8lafmz")
						.then(r => r.json())
						.then(json => {
							this.mediumArticles=json.items;
							localStorage.setItem('medium', JSON.stringify(json.items));
							localStorage.setItem('timestamp', Date.now().toString());
						});

					firebase.database().ref('/content').once('value').then(
						snapshot => {
							data = snapshot.exportVal();
							this.references = data.projects;
							this.peoples = data.peoples;
							this.technologies = data.technologies;

							//order people

							localStorage.setItem('references', JSON.stringify(data.projects));
							localStorage.setItem('peoples', JSON.stringify(data.peoples));
							localStorage.setItem('technologies', JSON.stringify(data.technologies));
							localStorage.setItem('timestamp', Date.now().toString());

							
			
						});
			}

		},
        computed: {
	        filteredTechnologies: function() {
	        	return _.pickBy(this.technologies, function(tech) {
	        		return tech.show
                })
            }
        },
		mounted: function () {
			//Piwik.HeatmapSessionRecording.disable();

			if (localStorage.getItem('medium')) {
				this.mediumArticles = JSON.parse(localStorage.getItem('medium'));
            }
			if (localStorage.getItem('references')) {
				this.references = JSON.parse(localStorage.getItem('references'));
			}
			if (localStorage.getItem('peoples')) {
				this.peoples = JSON.parse(localStorage.getItem('peoples'));
			}
			if (localStorage.getItem('technologies')) {
				this.technologies = JSON.parse(localStorage.getItem('technologies'));
			}
			if (localStorage.getItem('calendar')) {
				this.calendar = JSON.parse(localStorage.getItem('calendar'));
			}
			if (localStorage.getItem('timestamp')) {
				this.timestamp = localStorage.getItem('timestamp');
			}
			if (this.now - this.timestamp > 86400000) {
				this.updateLocalStorage()
            }

			// anchors a dalsi rizeni
			if(document.location.search){
				var urlParams = new URLSearchParams(window.location.search);
				if (urlParams.has('technology')){
					this.setActiveTechnologyByName(urlParams.get("technology"));
				}
				else if (urlParams.has('people')){
					this.setActivePeople(urlParams.get("people"));
				}

				if (urlParams.has("reload")){
					this.updateLocalStorage();
				}
			}

			this.$nextTick(function () {
				//image preloading
				if(window.location.pathname === '/') {
					//let images = [];
                    let cssText = '';
					for (let i = 0; i < _.size(this.people); i++) {

						if(this.people[i].photos !== undefined) {
							//images[i] = [];
							for (let x = 0; x < this.people[i].photos; x++) {
								if(cssText !== '') {
									cssText = cssText + ", ";
                                }
								//images[i][x] = new Image();
								let num = x + 1;
								//images[i][x].src = "/assets/imgs/peoples/mini/" + this.peoples[i].short.toLowerCase() + num +"-min.jpg";
								cssText = cssText + "url('/assets/imgs/peoples/mini/" + this.people[i].short.toLowerCase() + num +"-min.jpg')";
							}
                        }



					}
                    let div = document.createElement("div");
					div.style.backgroundImage = cssText;
					div.style.height = '0px';
					div.style.width = '0px';
					document.body.appendChild(div);
					//console.log(cssText);

				}
            })

		},
	})
</script>
</body>
</html>