---
title: Staň se naším kolegou
description: Jsme slušná firma, která si váží svých lidí a poskytuje jim maximální svobodu. U nás se finance řeší otevřeně ve společném kruhu.
---
<section class="row mb-5">
    <div class="col">
        <h1 class="ml-sm-5 underline">U nás je to samá příležitost.</h1>
        <p class="ml-sm-5">
            Jistě tě zajímá práce s námi, rovnou koukni na volná místa.
        </p>
    </div>
    <div class="w-100"></div>
    <!-- <div class="col text-content align-self-center">
        <span class="comment">[ Židle, křesla, na stojáka... ]</span>
        <h2>Volné pozice</h2>
        <ul class="ml-sm-5 blue-dot-list">
            <li class="ml-3"><a href="https://www.cocuma.cz/job/nadsenec-pro-e-mailing/2604/">Nadšenec pro e-mailing</a></li>
        </ul>
    </div> -->
</section>
<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <h2 class="ml-sm-5">Jdeme za hranice</h2>
        <p class="ml-sm-5">Nechali jsme o nás napsat ostatní. Pár týdnů jsme se nechali pozorovat při práci, dávali rozhovory a na konci o nás Petr Skondrojanis napsal profil na <a href="https://www.cocuma.cz/company/activate/">cocuma.cz</a>.
            Vyjádřil se slovy, že „takový extrém ještě neviděl.” Cítíme se tím neobyčejně poctěni.
            Doufáme, že po pár odstavcích budeš chtít zažít atmosféru Activate na vlastní kůži.
        </p>
    </div>
    <div class="col-sm-6 order-sm-first align-self-center">
        <img src="/assets/imgs/ty-3.jpg" />
    </div>
</section>

<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <span class="comment comment-right">[ Na mou duši, na heslo k rootu... ]</span>
        <h2>Jsme slušná firma.<br />Máme na to razítko.</h2>
        <p>Myslí si to nejen všichni ve firmě, ale i Tomáš Hajzler. Ten stojí za projektem PeopleComm.
            Pokud jsi pořád na pochybách, jsme připraveni tě o tom kdykoliv přesvědčit na webu <a href="https://slusnafirma.cz/slusna_firma/etnetera-activate/" target="_blank">SlušnáFirma.cz</a>.
        </p>
        <p>Dlouhodobě pomáháme projektům v Nadaci Vodafone. Baví nás myšlenky nových startupů a jejich energie. Tohle nás asi nikdy neomrzí.</p>
    </div>
    <div class="col-sm-6 align-self-center">
        <img src="/assets/imgs/ty-2.jpg" />
    </div>
</section>

<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <h2 class="ml-sm-5">Svoboda až na dřeň</h2>
        <p class="ml-sm-5">Jsme samostatné dítě velké Etnetery, která je ve svobodě v práci svítící maják pro ostatní české firmy. Ale my jsme šli ještě dál. Lidé mají přístup ke všemu, maximum práce si organizují sami a jsou zodpovědní za to, jak si co povedou. Každý rád kdykoliv pomůže a cokoliv se dá změnit. Vždycky jde jenom o to, abychom měli dobře v břiše, klidně usínali a byli pyšní na svoji práci.</p>
        <p class="ml-sm-5">U nás se finance řeší otevřeně ve společném kruhu, směřování firmy je společná záležitost. Jedeme na zdravý rozum a data.</p>
    </div>
    <div class="col-sm-6 order-sm-first align-self-center">
        <img src="/assets/imgs/ty-1.jpg" />
    </div>
</section>
