---
title: Digitální maturita
---
<section class="row mb-5">
    <div class="col-sm-6 text-content align-self-center">
        <h1 class="ml-sm-5">Digitální maturita</h1>
        <p class="ml-sm-5">Zkoušeli jsme to krátce, ale není to ono.</p>
        <p class="ml-sm-5">Udělejte si čaj, vypněte telefon,<br> zavřete dveře a věnujte půl hodiny<br> nerušenému čtení.</p>
    </div>
    <div class="col-sm-6 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/maturita.png"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-10 text-content align-self-center">
        <span class="comment">[ Prolog ]</span>
        <p class="ml-sm-5"><span class="big-letter">P</span>ro jakékoliv moderní podnikání jsou zákazníci dnes mimo jiné zdrojem nekonečného proudu dat, který popisuje, jak interagují s vaší službou. Zákazníci na něco klikají a něco neklikají, něco kupují nebo nekupují, otevírají či neotevírají e-maily, přicházejí do obchodu, vyplňují stížnosti a nebo používají váš produkt online.</p>

        <p class="ml-sm-5">Chytrá společnost si uvědomuje, že tato data jsou skrytý poklad. Jeho potenciál však využije pouze v případě, že je dokážete správně získat, analyzovat a zpět zákazníkovi vrátit ve formě kvalitnější a lépe zacílené služby či produktu.</p>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-10 text-content align-self-center">
        <h2 class="ml-sm-5">Mach a Šebestová, k tabuli!</h2>
        <p class="ml-sm-5">Náš model digitální maturity slouží právě k tomu, abychom vás postupně provedli všemi základními disciplínami, které takovou schopnost přináší. Na začátku procesu je firma uvědomující si, že zákaznická data jsou tím, co může od základu změnit její obchodní model. Postupně projdeme klíčové dovednosti z hlediska strategie, zdrojů, technologie a exekuce. A navrhneme jejich zlepšování tak, aby ve výsledku zákaznická data a poznatky z nich získané byly skutečnou hodnotou společnosti.</p>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-6 align-self-center">
        <p class="ml-sm-5">Převážná většina firem dnes hodnotu zákaznických dat podceňuje. Informace, které mohou získat, buďto nevyužívají nebo slouží pouze k omezeným taktickým cílům, jako je optimalizace reklamy či konverze. Pohled na globální trh nám však říká, že schopnost vlastnit a využívat zákaznická data se stala určující i pro tržní kapitalizaci firem.</p>
        <p class="ml-sm-5">K maturitě máme připravené čtyři předměty. Sběr dat je tím základním. Potom je třeba umět z dat dostat nějaké hodnotné informace. Potom se podle nich umět rozhodovat. A místo matematiky je vytváření strategie a optimalizace celého businessu na základě těch tří kroků předtím.</p>
    </div>
    <div class="col-sm-6 align-self-center hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <p>Za pouhých deset let obsadily TOP5 žebříček nejhodnot- nějších společností firmy schopné založit svůj růstový model právě na datech zákazníků.</p>
        </svg>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-10 text-content align-self-center">
        <h2 class="ml-sm-5">Umění sběru dat</h2>
        <p class="ml-sm-5">Uživatelé mohou zanechávat užitečná data nejrůznější formou na nejrůznějších kanálech. Mohou klikat na webu, dotýkat se aplikace, vyplňovat formuláře, stornovat objednávky nebo navštěvovat váš obchod. Digitálně zralá organizace má tato místa zmapována a nasazuje systematicky nástroje, které zajistí aby informace vyjádřená uživatelskou akcí nezanikla.
            <br><strong>Typicky se zaměřujeme na tři typy informací:</strong>
        </p>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Informace vznikající v reálném čase při návštěvě webů a mobilních aplikací. Například zobrazení stránek, kliky a další interakce. Akce uživatele snímané digitálními senzory v používaných produktech nebo na prodejnách v retailu.</li>
            <li>Informace transakčního charakteru přímo navázané na uživatelovu identitu. Tedy události v e-mailingu, objednávky, leady, používání mobilní aplikace</li>
            <li>Názory uživatelů vyjádřené v rámci user testingu, NPS dotaznících a hloubkových rozhovorech</li>
        </ul>
    </div>

</section>
<section class="row mb-5">
    <div class="col-sm-12 text-content align-self-center">
        <h3 class="ml-sm-5">Jak na to?</h3>
        <p class="ml-sm-5">Víte, že to něco bude stát a měli byste mít člověka, který to firmou protlačí <strong>[zdroje]</strong><br>
            Nasazovat to budete doufám pomocí GTM s dobrým manuálem pro vývojáře <strong>[exekuce]</strong><br>
            A proč jste si vybrali GA, které samplují. Čím to doplníme? <strong>[technologie]</strong></p>
        <p class="ml-sm-5">Klíčovým prvkem umění sběru dat je neponechat tyto informace v separovaných systémech, ale dokázat je sloučit do vlastní datové báze použitelné pro další prozkoumávání. </p>
        <h3 class="ml-sm-5">Modelová otázka</h3>
        <p class="ml-sm-5">Co mi můžete říci o chování zákazníka s tímto e-mailem? Opravdu je vše co víte e-mail a datum registrace?</p>
    </div>

    <div class="col-sm-12">
        <h2 class="ml-sm-5">Umění interpreace dat</h2>
        <p class="ml-sm-5">Zvládnutí předchozího předmětu znamená, že máme někde vše podstatné, co uživatel dělal. Data, kterým můžete věřit, jsou z vašich zdrojů. Typicky jsou v Big Query, Keboole nebo jiném DWH. Zkušený analytik může pomocí dotazů a exportů něco zjistit, když jej o to pěkně poprosíte. K dispozici máte i řadu jednoúčelových reportů ve zdrojových systémech.</p>

            <p class="ml-sm-5">Chytrá firma si ale vytváří vlastní vizualizace a analýzy nad konsolidovanými daty tak, aby příjemci reportům rozuměli a uměli s nimi dále pracovat.
        </p>
    </div>
</section>
