---
title: Webová analytika
---
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment">[ Webová analytika ]</span>
        <h1 class="ml-sm-5 underline">Kvalitní a dostupný sběr dat</h1>
        <p class="ml-sm-5">Vaše online data začnou být pravidelně využívána napříč organizací. Až si časem nedokážete
            představit fungování bez nich. Z problémů s věrohodností dat vás dostaneme do průběžného hladkého řízení
            sběru dat
            v potřebném rozsahu a kvalitě.</p>
    </div>
    <div class="col-sm-4 align-self-center hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <img src="<%= site.basePath %>/assets/imgs/graf.png"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment comment-right">[ Máme na to lidi a stroje ]</span>
        <h2 class="ml-sm-5">Co můžete získat?</h2>
        <ul class="ml-sm-5 number-list underline-list">
            <li>Automatizované reporty napříč kanály a aplikacemi sloužící jako <strong>podklady pro
                    rozhodnutí.</strong></li>
            <li><strong>Jistotu, že data jsou správná</strong> a změny v aplikaci budou měřeny konzistentně s historií.
            </li>
            <li><strong>Správná data pro správné lidi</strong>, obohacená o libovolné interní nebo marketingové zdroje.
            </li>
        </ul>
        <p class="ml-sm-5">Zpočátku řešíme vše dodavatelsky, ale snažíme se postupně příslušné kompetence předávat
            interním lidem.</p>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/graf-2.jpg"/>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci začít ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <h2 class="ml-sm-5">Na počátku bývá chaos</h2>
        <ul class="ml-sm-5 questionmark-list underline-list">
            <li>Celková kvalita sběru dat je obvykle dána historickým velmi postupným <strong>neřízeným rozšiřováním
                    původního základního měření bez dokumentace</strong> a bez zpětnovazebních mechanismů na uhlídání
                konzistence.
            </li>
            <li>Obvykle též <strong>nejsou jasně stanovené zodpovědnosti</strong> za dílčí aktivity ani nejsou popsány
                běžná pravidla a procesy, podle kterých se děje řízení očekávání a dílčích požadavků.
            </li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
        <div class="row">
            <div class="col"><span class="comment-straight">V tomhle stavu nás většinou klient kontaktuje...</span>
            </div>
        </div>
    </div>
</section>
<section class="row mb-5">
    <div class="col-lg-8 col-md-12 text-content align-self-center">
        <h2 class="ml-sm-5">Co uděláme pro zlepšení?</h2>
        <ul class="ml-sm-5 check-list underline-list">
            <li>Na nejasnost reagujeme <strong>poctivou dokumentací</strong> požadavků, častým doptáváním se a
                parafrázováním získaných požadavků a potvrzováním, že si <strong>vzájemně rozumíme</strong> a na nic
                jsme nezapomněli.
            </li>
            <li>Na vysokou chybovost měření a výpadky dat reagujeme zaváděním vývojářských best practices - přístupů,
                postupů a nástrojů, které pomáhají udržet <strong>dlouhodobou stabilitu v kvalitě dodávek</strong>.

            </li>
            <li>Soustavně učíme a rozšiřujeme datové chápání do celé organizace a zodpovědným lidem tak, aby na nás
                <strong>nebyli závislí, ale abychom se doplňovali</strong>.
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-6 align-self-center">
        <span class="comment">[ Tenhle tým pro vás bude dýchat ]</span>
        <img src="<%= site.basePath %>/assets/imgs/tym-wata.jpg"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-4 hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <span >Potřebujeme parťáka a vaše zapojení.</span>
    </div>
    <div class="col-sm-8 text-content align-self-center">
        <h2 class="ml-sm-5">Co nás může zastavit?</h2>
        <ul class="ml-sm-5 cross-list">
            <li>Problém máme ve chvíli, kdy nespolupracují dodavatelé měřených aplikací, stejně jako když s námi
                nekomunikují byznys zadavatelé.
            </li>
            <li>Při implementaci se mohou objevit technické dluhy z minulosti. Pokud aplikace či web obsahuje velké
                množství výjimek či nemá jednotně nadesignovaný koncept, bude i implementace analytiky odpovídajícím
                způsobem náročná.
            </li>
        </ul>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <p class="ml-sm-5">Spolupracovat s námi není jednoduché, jestli má výsledek stát za to. Když se s námi
            rozhodnete postupovat kroky datové transformace, nekupujete si agenturu, ale individuální přístup, průvodce
            digitálním prostředím.</p>
    </div>
</section>
<%- include('../../partials/contact-form') %>

