body {
    font-family: 'Roboto', sans-serif;
}
.f-right {
    float: right;
}
.f-left {
    float: left;
}
.ta-center {
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.font-caveat {
    font-family: 'Caveat', cursive;
}
.menu-comment {
    font-family: 'Caveat', cursive;
    color: #bbbbbb;
    text-decoration: none;
    display: block;
}

.comment {
    font-family: 'Caveat', cursive;
    color: #bbbbbb;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-left: -10px;
    margin-top: 20px;
    transform-origin: 0 0;
    transform: rotate(-3deg);
    position: relative;
}
.comment.red-arrow-down:after {
    content: '';
    display: inline-block;
    background: url("../imgs/arrow-red-down.png");
    width: 43px;
    height: 52px;
    position: absolute;
    top: 20px;
    right: -53px;
}
a:hover .comment {
    text-decoration-color: #a9204d;
}

a:link, a:visited {
    color: #00a0e0;
    text-decoration: none;
}

a:hover {
    color: #009fe3;
    text-decoration: underline;
}

.icon {
    display: inline-block;
    margin: 5px 5px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-arrow-red-right {
    background: url("../imgs/arrow-red-right.png");
    width: 30px;
    height: 20px;
}

.icon-arrow-blue-right {
    background: url("../imgs/arrow-blue-right.png");
    width: 29px;
    height: 20px;
}

/* header */

.page-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px;
    align-items: end;
    width: 1200px;
    margin: 0 auto;
    height: 150px;
}

.logo-btn {
    width: auto;
    height: 80px;

}
.logo-btn img {
    height: 80px;
}
.page-header ul {
    float: right;
    margin: 0;
    padding: 0;
    height: 50px;
    align-self: end;
    justify-self: end;
}

.page-header ul li {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

/* main content */
.main-content {
    width: 1200px;
    margin: 0 auto;
}


h1 {
    color: #00a0e0;
    font-size: 40px;
    margin-bottom: 15px;
}
h1.arrows-left-right-down {
    position: relative;
    margin-bottom: 130px;
}
h1.arrows-left-right-down::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 163px;
    height: 105px;
    background: url("../imgs/arrow-left-down-red.png");
    margin-left: -180px;
    margin-top: 20px;
}
h1.arrows-left-right-down::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 163px;
    height: 105px;
    background: url("../imgs/arrow-right-down-red.png");
    margin-left: 20px;
    margin-top: 20px;
}
.main-claim {
    margin: 20px;
}
.main-claim .comment {
    margin-top: 100px;
}
.main-claim p {
    color: #bbbbbb;
    font-size: 20px;
    line-height: 30px;
}

a.big-blue-box {
    display: inline-block;
    width: 45%;
    margin: 0 20px;
    color: #ffffff;
    height: 300px;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    line-height: 300px;

}
a.big-blue-box.first {
    background: #2196f3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2196f3 0%, #3f51b5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2196f3 0%,#3f51b5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2196f3 0%,#3f51b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#3f51b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a.big-blue-box.second {
    background: #3f51b5; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3f51b5 0%, #2196f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3f51b5 0%,#2196f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3f51b5 0%,#2196f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#2196f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a.big-blue-box.first:hover {
    background: #3f51b5; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3f51b5 0%, #2196f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3f51b5 0%,#2196f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3f51b5 0%,#2196f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#2196f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a.big-blue-box.second:hover {
    background: #2196f3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2196f3 0%, #3f51b5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2196f3 0%,#3f51b5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2196f3 0%,#3f51b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#3f51b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*     footer    */

.site-footer:before {
    content: '';
    background: url("../imgs/devider.png");
    display: block;
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0;
}
.site-footer {
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    align-items: end;
}