---
title: Vedení datového týmu
description: Chybí nám parťák, který by s námi rozvíjel kompetenci datových integrací a posouval náš datový tým kupředu. Nejsi to ty?
---
<section class="row mb-5">
    <div class="col-sm-8 align-self-center">
        <p>
            <a class="mt-md-5" href="<%= site.basePath %>/kolega" title="Kolega">
                ← Zpět na výhody práce v Activate
            </a>
        </p>
        <span class="comment">[ tebe teď potřebujeme ]</span>
        <h1 class="ml-sm-5 underline">Data Engineering Lead (tahoun DATA týmu)</h1>
        <p class="ml-sm-5"><em>Datový analytik Praha / Data Engineer Team Leader / my tomu říkáme Tahoun datových integrací</em></p>
        <p class="ml-sm-5">
            V Activate data měříme pomocí špičkových toolů na webech i v appkách, děláme z nich pro naše klienty vymakané reporty a na jejich základě jim dobře radíme s jejich online businessem, UX nebo e-mailovým marketingem. Chybí nám ale aktuálně někdo, kdo to umí i s datovou integrací – přesouváním, transformací a zpracováním dat v cloudu, a který by byl oporou a tahounkou nebo tahounem našeho skvělého datového týmu.
        </p>
        <h2>Hledáme zkušenou datařku nebo zkušeného dataře, která*ý
        </h2>
        <ul class="ml-sm-5">
            <li>s námi bude sdílet nadšení pro data</li>
            <li>dokáže data přesouvat, transformovat a zpracovávat v různých formátech, systémech a na různých platformách (naši klienti mají různorodé systémy, často za hromadou firewallů a VPNek)
            </li><li>s daty dokáže pracovat v SQL, Pythonu, NodeJS, anebo si dokáže potřebné základy rychle načíst
            </li><li>má zkušenost s cloudovým prostředím – nejvíc pracujeme s GCP, ale potřebujeme se pohybovat i v Azuru a AWS (např. s nastavováním virtuálních strojů a plánováním úloh na nich, Terraform velkou výhodou!)
            </li><li>má potřebné (alespoň základní) znalosti UNIXu (poradí si s bashem a crony) a síťařiny
            </li><li>už má za sebou pár let zkušeností s výše uvedeným :)</li>
        </ul>
        <h2>Co pro nás znamená tahoun*ka?</h2>
        Tahounem je u nás člověk, který táhne danou kompetenci. Což obnáší mimo jiné:
        <ul class="ml-sm-5">
            <li>předává svoje know-how dál do svého týmu a posouvá lidi v něm</li>
            <li>zviditelňuje kompetenci v rámci našich firem, v komunitách i na trhu</li>
            <li>má zodpovědnost za tým z hlediska lidí, čísel i směřování</li>
            <li>s ostatními tahouny se podílí na směřování celé firmy</li>
        </ul>
            <h2>Co na oplátku nabízíme my?</h2>
            <p class="ml-sm-5">
            <ul class="ml-sm-5">
                <li>práci ve svobodné firmě – není to jen fráze, opravdu tak fungujeme, více si můžeš <a href="https://www.cocuma.cz/company/activate/" target="_blank">přečíst v článku</a>, kde o
                našem přístupu ke svobodě píšou odborníci</li>
                <li>firemní počítač a vše ostatní, co potřebuješ ke své práci</li>
                <li>zaměstnání na hlavní pracovní poměr v Praze, ale pokud to potřebuješ jinak, můžeme se dohodnout</li>
                <li>stabilní a rostoucí plat</li>
                <li>pokud se nám daří, rozdělujeme mezi sebe velké roční odměny</li>
                <li>neomezenou dovolenou</li>
                <li>příjemné prostředí našich kanceláří v Holešovicích – máme i fotbálek, pákový kávovar a vynikající kávu,
                rumovou odpočívárnu a další drobnosti</li>
                <li>tým datových nadšenců, na které je spoleh a nezkazí žádnou srandu</li>
                <li>Jestli chceš vědět více informací, mrkni na náš inzerát na <a href="https://www.startupjobs.cz/nabidka/31726/tahoun-datovych-integraci" target="_blank">Startup jobs</a>.</li>
            </ul>
        </p><p class="ml-sm-5">
            Pokud jsi dočetl/a až sem, určitě tě naše nabídka zajímá. Budeme rádi, když se ozveš přímo našemu CEO Pavlu
            Polovi na e-mail <a href="mailto:pavel.pola@etnetera.cz">pavel.pola@etnetera.cz</a>.
        </p><p class="ml-sm-5">
            Těšíme se na tebe!

        </p>
        <a class="button button-blue mt-md-5" href="<%= site.basePath %>/kolega" title="Kolega">
            Zpět na výhody práce v Activate
        </a>
    </div>
    <div class="col-sm-4 align-self-top hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <img src="<%= site.basePath %>/assets/imgs/graf.png" />
    </div>
</section>