---
title: Vedení datového týmu
description: Chybí nám parťák, který by s námi rozvíjel kompetenci datových integrací a posouval náš datový tým kupředu. Nejsi to ty?
---
<section class="row mb-5">
    <div class="col-sm-8 align-self-center">
        <p>
            <a class="mt-md-5" href="<%= site.basePath %>/kolega" title="Kolega">
                ← Zpět na výhody práce v Activate
            </a>
        </p>
        <span class="comment">[ tebe teď potřebujeme ]</span>
        <h1 class="ml-sm-5 underline">Tahoun datových integrací – vedení datového týmu</h1>
        <p class="ml-sm-5"><em>Datový analytik Praha / Data Engineer Team Leader</em></p>
        <p class="ml-sm-5">
            Chybí nám parťák, který by s námi rozvíjel kompetenci datových integrací a posouval náš datový tým kupředu.
            </p><p class="ml-sm-5">
            Jestli už máš za sebou pár let zkušeností s datovými integracemi, ideálně v prostředí cloudů (Google,
            Microsoft, Amazon…), hledáme právě tebe!
        </p><p class="ml-sm-5">
            Nechce se ti vysedávat v kanceláři 8 hodin denně, ale raději pracuješ z domova a zvládneš svou práci
            rychleji? No super, alespoň budeš mít víc času pro sebe ;) Rádi tě ale v naší kanceláři v Praze uvidíme i
            osobně.
        </p>
        <h2>A koho vlastně konkrétně potřebujeme?</h2>
        <ul class="ml-sm-5">
            <li>někoho, kdo se vyzná v datových integracích a pojmy jako je VPN, CSV, JSON, XML, SQL, Python, NodeJS, PHP,
            Google Cloud, Microsoft Azure, Amazon, bash, cron… mu nejsou cizí</li>
            <li>hodil by se nám spíše seniornější člověk, který už má nějaké zkušenosti za sebou a nebojí se je předávat
            svému týmu dál</li>
        </ul>
            <h2>Co na oplátku nabízíme my?</h2>
            <p class="ml-sm-5">
            <ul class="ml-sm-5">
                <li>práci ve svobodné firmě – není to jen fráze, opravdu tak fungujeme, více si můžeš <a href="https://www.cocuma.cz/company/activate/" target="_blank">přečíst v článku</a>, kde o
                našem přístupu ke svobodě píšou odborníci</li>
                <li>firemní počítač a vše ostatní, co potřebuješ ke své práci</li>
                <li>zaměstnání na hlavní pracovní poměr v Praze, ale pokud to potřebuješ jinak, můžeme se dohodnout</li>
                <li>stabilní a rostoucí plat</li>
                <li>pokud se nám daří, rozdělujeme mezi sebe velké roční odměny</li>
                <li>neomezenou dovolenou</li>
                <li>příjemné prostředí našich kanceláří v Holešovicích – máme i fotbálek, pákový kávovar a vynikající kávu,
                rumovou odpočívárnu a další drobnosti</li>
                <li>tým datových nadšenců, na které je spoleh a nezkazí žádnou srandu</li>
                <li>Jestli chceš vědět více informací, mrkni na náš inzerát na <a href="https://www.startupjobs.cz/nabidka/31726/tahoun-datovych-integraci" target="_blank">Startup jobs</a>.</li>
            </ul>
        </p><p class="ml-sm-5">
            Pokud jsi dočetl/a až sem, určitě tě naše nabídka zajímá. Budeme rádi, když se ozveš přímo našemu CEO Pavlu
            Polovi na e-mail <a href="mailto:pavel.pola@etnetera.cz">pavel.pola@etnetera.cz</a>.
        </p><p class="ml-sm-5">
            Těšíme se na tebe!

        </p>
        <a class="button button-blue mt-md-5" href="<%= site.basePath %>/kolega" title="Kolega">
            Zpět na výhody práce v Activate
        </a>
    </div>
    <div class="col-sm-4 align-self-top hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <img src="<%= site.basePath %>/assets/imgs/graf.png" />
    </div>
</section>