---
title:
---
<section class="main-claim clearfix">
    <img class="f-right" src="<%= site.basePath %>/assets/imgs/tablet.png" />
    <span class="comment">[ Co děláme? ]</span>
    <h1>Přivádíme inovace k životu</h1>

    <p>Vaše data <i class="icon icon-arrow-red-right"></i> naše nápady  <i class="icon icon-arrow-blue-right"></i>  nový businese</p>
</section>
<section>
    <span class="comment red-arrow-down">[ Technologie, které používáme ]</span>
    <ul>
        <% site.data.peoples.forEach(function (people) { %>
        <li><%= people.name %></li>
        <% }); %>

    </ul>
</section>
<section>
    <span class="comment">[ Reference ]</span>
</section>


