---
title: Data analytika
---
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment">[ To nejcenější ]</span>
        <h1 class="ml-sm-5 underline">Zpracování digitálních dat</h1>
        <p class="ml-sm-5">Data, která může klient mít o chování zákazníků, jsou pokladem pro podnikání. Ale jen málo
            firem tento poklad opravdu poctivě buduje a využívá. Dokážeme aplikovat postupy umělé inteligence a
            strojového učení <strong>pro predikci budoucího chování, doporučování 1:1, analýzám sortimentu...</strong></p>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/data-1.jpg"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment comment-right">[ Systém a rozvíjení ]</span>
        <h1 class="ml-sm-5">Co je cílem naší práce?</h1>
        <ul class="ml-sm-5 number-list underline-list">
            <li>Většina uživatelů je nějak identifikována a existuje pohled na všechny jednotlivé akce v multi-channel ekosystému.</li>
            <li>Kvalitní reporty.</li>
            <li>Schopnost rychle a efektivně provádět analýzy a segmentace uživatelů.</li>
            <li>Rychlé a kvalitní spouštění automatizovaných kampaní.</li>
        </ul>
        <p class="ml-sm-5">Zpočátku řešíme vše dodavatelsky, ale snažíme se postupně příslušné kompetence předávat interním lidem.</p>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/data-2.jpg"/>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci
            začít ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <h1 class="ml-sm-5">Jak to většinou vypadá...</h1>
        <ul class="ml-sm-5 questionmark-list underline-list">
            <li>Data o chování na webu, v sociálních sítích či emailu jsou většinou ponechána v <strong>izolovaných systémech</strong>. Například jen Google analytics.</li>
            <li><strong>Různá data vlastní různé týmy.</strong> Marketing má data o kampaních a webu, business má CRM pro e-mailing a někde leží DWH s daty o transakcích.</li>
            <li><strong>Klienti nejsou segmentováni</strong> nebo existují různé segmentace v jednotlivých týmech a odděleních.</li>
            <li>Nedaří se dělat cílené kampaně, personalizovat nabídku apod. <strong>Realizace kampaní je drahá a složitá, efekt je malý.</strong> Typicky se najdou jen malé segmenty nebo dojde dokonce k chybám.</li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <h1 class="ml-sm-5">Co uděláme pro zlepšení?</h1>
        <ul class="ml-sm-5 check-list underline-list">
            <li>Dodáme cloudovou big data platformu, kam dokážeme uložit data pro analýzu. Bude to např. Keboola, BigQuery, SnowFlake.</li>
            <li>Nastavíme identifikaci uživatele a zpropagujeme ji do systému tak, aby pokud uživatel klikne na e-mail, tak web analytika věděla, s kým máme tu čest.</li>
            <li>Dokážeme na základě těchto konsolidovaných dat postavit multi-channel reporting.</li>
            <li>Dokážeme z dat vytvořit různé modely a analýzy. Například:
                <ul class="mt-sm-3 blue-dot-list">
                    <li>Celkovou hodnotu zákazníka (LiveTimeValue)</li>
                    <li>Pravděpodobnost nákupu (RFM)</li>
                    <li>Sociodemo analytika (clustering, )</li>
                    <li>Produktově orientovaná analýza - jaký produkt zákazníka zajímá? Jaká je jeho bonita?</li>
                    <li>Analýzy atribučních cest marketingu</li>
                    <li>Doporučení</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/data-3.jpg"/>
    </div>
</section>
<%- include('../../partials/contact-form') %>