---
title: Jak & Kde nás můžete potkat
---
<section class="row mb-5">
    <div class="col-sm-6 align-self-center">
        <span class="comment comment-right">[ Tady jsme fyzicky i úředně ]</span>
        <h2 class="ml-md-4">Holešovická kancelář</h2>
        <address class="ml-md-5">
            Etnetera Activate a.s.<br>
            Classic 7 - budova E<br>
            Jankovcova 1037/49<br>
            170 00 Praha 7<br>
            <br>
            <a href="#" data-toggle="modal" data-target="#billing">Fakturační údaje</a><br>
            <br>
            <abbr title="Telefon">Tel.:</abbr> <a href="tel:+420233326810">+420 233 326 810</a><br>
            <abbr title="E-mail">E-mail:</abbr> <a href="mailto:my@activate.cz">my@activate.cz</a>
        </address>
    </div>
    <div class="col-sm-6">
        <img src="<%= site.basePath %>/assets/imgs/classic-7.jpg" />
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-6">
        <span class="comment">[ Konference a tak dále ]</span>
        <img src="<%= site.basePath %>/assets/imgs/konference.jpg" />
    </div>
    <div class="col-sm-6 text-content align-self-center">
        <h2 class="ml-md-5 mt-3">Jsme na konferencích</h2>
        <p class="ml-md-5">Pravidelně se účastníme odborných konferencí nejen jako účastníci, ale také jako porotci nebo přednášející.
            Můžete nás pravidelně najít v porotě Internet Effectiveness Awards, WebTop100 nebo jako aktivní mentory Czechitas a Vodafone nápad roku.
        </p>
        <!-- Button trigger modal -->
        <a href="#" class="ml-5 btn btn-activate" data-toggle="modal" data-target="#eventsCalendar">
            Kalendář akcí &raquo;
        </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="eventsCalendar" tabindex="-1" role="dialog" aria-labelledby="eventsCalendarLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventsCalendarLabel">Kalendář akcí</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=etnetera.cz_vhle6ln0rnkb06kvo53icnfhm0%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FPrague" style="border-width:0" width="766" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>