<footer class="site-footer row">
    <div class="col">
        <span class="comment">[ Tady nás najdeš ]</span>
        <address>
            <h2>Etnetera Activate a.s.</h2>
            Classic 7 - budova E<br>
            Jankovcova 1037/49<br>
            170 00 Praha 7<br>
            <br>
            Fakturační údaje<br>
            <br>
            Tel.: <a href="tel:+420233326810">+420 233 326 810</a><br>
            E-mail: <a href="mailto:my@activate.cz">my@activate.cz</a>
        </address>
    </div>
    <div class="col">
        <span class="comment">[ Tady nás najdeš úplně nejvíc! ]</span>

    </div>
    <div class="col">
        <span class="comment">[ Sem píšeme <3 ]</span>
        <h2>Activate Medium Blog</h2>
    </div>
</footer>
