<section class="row crossroads">
    <div class="col align-self-center">
        <a href="<%= site.basePath %>/webova-analytika">
            <h3>Webová analytika</h3>
            <ul>
                <li>Google analytics</li>
                <li>Adobe Analytics</li>
                <li>Piwik</li>
            </ul>
            <span>&raquo;</span>
        </a>
    </div>
    <div class="col align-self-center">
        <a href="<%= site.basePath %>/data">
            <h3>Data</h3>
            <ul>
                <li>Umělá inteligence</li>
                <li>Machine learning</li>
                <li>Business Intelligence</li>
            </ul>
            <span>&raquo;</span>
        </a>
    </div>
    <div class="w-100"></div>
    <div class="col align-self-center">
        <a href="<%= site.basePath %>/emailing">
            <h3>E-mailing</h3>
            <ul>
                <li>Newslettery</li>
                <li>Věrnostní programy</li>
                <li>Personalizace</li>
            </ul>
            <span>&raquo;</span>
        </a>
    </div>
    <div class="col align-self-center">
        <a href="<%= site.basePath %>/digitalni-maturita">
            <h3>Consulting</h3>
            <ul>
                <li>Digitální maturita</li>
                <li>Data first</li>
                <li>Design</li>
            </ul>
            <span>&raquo;</span>
        </a>
    </div>
</section>
