<div class="row">
    <div v-for="(reference, index) in references" class="col-md-6 reference" v-show="index < 6 || showReferences">
        <div class="row">
            <div class="col-4 img-bg" :style="'background-image: url(/assets/imgs/references/' + reference.imgName +'.png)'"></div>
            <span class="col-8 align-self-center">{{reference.title}}</span>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <button class="button button-blue mt-5" @click="showReferences = !showReferences" v-if="!showReferences" title="Více referencí">Chci vidět víc vaší práce ››</button>
    </div>
</div>
