<span class="comment red-arrow-down mt-5">[ Tyhle nástroje máme rádi ]</span>
<h2>S jakými technologiemi pracujeme</h2>
<section class="technologies" id="technologies">
    <div class="row">
        <div v-for="technology in filteredTechnologies" class="col-4 col-sm-4 col-md-2 align-self-center technology" @click="setActiveTechnology(technology)"
             :onclick="'measure({action:\'usedTechnologyClick\',technology:\'' + technology.name +'\'})'">
            {{technology.name}}
        </div>
        <div class="col-4 col-sm-4 col-md-2 knowledge align-self-center">
            <img src="<%= site.basePath %>/assets/imgs/icon-ampersand.png" />
            <span>Naše znalosti</span>
        </div>
    </div>
    <div id="activeTechnology" class="row justify-content-md-center" v-if="activeTechnologyDescription">
        <div class="col-md-9 align-self-center technology-description">
            <div class="row">
                <div class="col-md-4 align-self-center"><img :src="'<%= site.basePath %>/assets/imgs/technologies/' + activeTechnology.image + '.png'"  :alt="activeTechnology.alt"/></div>
                <div class="col-md-8 align-self-center">
                    <p><span v-html="activeTechnology.description"></span></p>
                </div>
            </div>

        </div>
    </div>
</section>