<span class="comment red-arrow-down">[ Technologie, které používáme ]</span>
<section class="row technologies">


    <div v-for="technology in technologies" class="col align-self-center">
        {{technology.name}}
    </div>
    <div class="col knowledge align-self-center">
        <img src="<%= site.basePath %>/assets/imgs/icon-ampersand.png" />
        <span>Naše znalosti</span>
    </div>
</section>