<!DOCTYPE html>
<html lang="en-EN">
<head>
    <meta charset="UTF-8">
<title>Webová analytika | Activate </title>
<meta name="description" content="Online konzultanti s vášní pro data"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Roboto:300,400,500,700|PT+Sans:&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/cookieconsent.min.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#009fe4">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- for dynamic data load-->
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-database.js"></script>
<script src="/assets/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="https://combinatronics.com/etnetera-activate/website/master/public-scripts/init-script.js"></script>

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('require', 'GTM-W9VZXCR');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->



</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light page-header fixed-top">
    <div class="container">
        <a class="navbar-brand logo-btn" href="/"><img src="/assets/imgs/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/klient" class="nav-link">Klient <span class="menu-comment">[ současný & budoucí ]</span></a>
                </li>
                <li class="nav-item">
                    <a href="/kolega" class="nav-link">Kolega <span class="menu-comment">[ chci dělat věci ]</span></a>
                </li>
                <li class="nav-item">
                    <a href="/jak-a-kde" class="nav-link">Jak & Kde <span class="menu-comment">[ nás potkat ]</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content container" id="app">
    <section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment">[ Webová analytika ]</span>
        <h1 class="ml-sm-5 underline">Měření = základ státu webu a marketingu</h1>
        <p class="ml-sm-5">V životě každého markeťáka, UXáka či produkťáka nastává okamžik, kdy se potřebuje poprvé podívat na data do Google Analytics a ověřit nějaké hypotézy. To, co uvidí, může být velmi matoucí. Dá se těm datům věřit? Znamená to, potvrzení nebo vyvrácení? Je tohle číslo dobře nebo špatně?
            </p>
    </div>
    <div class="col-sm-4 align-self-center hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <img src="/assets/imgs/audit-analytika-activate-003-web.jpg"/>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
    <span class="comment">[ Častí otázky ]</span>
        <h2 class="ml-sm-5">Možná jste přišli s některou z následujících otázek:</h2>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Byla moje kampaň úspěšná?
            </li>
            <li><strong>Vyplácí se mi kupovat reklamu spíš od googlu, </strong>od seznamu nebo od facebooku?
            </li>
            <li><strong>Používají lidé novou funkci na webu?</strong> Vyplatí se do ní ještě investovat?
            </li>
            <li><strong>Jaké stránky jsou na mém webu</strong>nejoblíbenější?
            </li>
        </ul>
        <br>
        <p class="ml-sm-5">A místo toho si kladete ještě více otázek:
        </p>
        <br>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Co znamená v url adresách <strong>“gclid”</strong> a <strong>“fbclid”</strong> ? Co teprve <strong>“rel”</strong> nebo <strong>“q”</strong>?
            </strong></li>
            <li>Co znamená v GA hláška <strong>“Untagged email campaigns”</strong>, <strong>“Link analytics and search console”</strong> nebo <strong>“Missing ecommerce data”</strong>
            </strong>
            </li>
            <li>Proč mám tuto stránku rozpadlou přes tolik řádků?
            </li>
            <li>Neměl by být seznam.cz spíš organické vyhledávání, než odkazující stránka?
            </li>
        </ul>
        <br>
        <p class="ml-sm-5">Chci zistiť cenu auditu webové analytiky.
            </p>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="/assets/imgs/audit-analytika-activate-001-web.jpg"/>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci naceniť audit ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <p><span class="comment">[ Prerekvizita k vyhodnocování = dobrá data v Google Analytics ]</span>
        </p>
            <p><h2 class="ml-sm-5">Nejčastější chyby, které se při nasazování Google Analytics dělají:</h2>
        </p>
            <ul class="ml-sm-5 blue-dot-list">
            <li>Měřící script </strong> se nasadí příliš nízko ve stránce a kvalita měření je pak špatná
            </li>
            <li>Zapomene se měřit mobilní verze webu
            </li>
            <li>Nenastaví se měření vyhledávání, které by Vám dalo nejvíc vhledu do uživatelských očekávání.
            </li>
            <li>Neotagují se kampaně nebo se to dělá nejednotně, a pak se to obtížně vyhodnocuje.
            </li>
            <li>Nenaimplementuje se měření důležitých prvků webu (odeslání formuláře, jeho kroky,..) nebo se to udělá špatně.
            </li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="/assets/imgs/audit-analytika-activate-002-web.jpg"/>
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci naceniť audit ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-12 text-content align-self-center">
        <h2 class="ml-sm-5">Nevíte, co z toho potřebujete a jak to opravit?</h2>
        <p class="ml-sm-5"><strong>Nechte si vše zkontrolovat zkušeným Activejťákem.</strong>
        </p>
        <p class="ml-sm-5"><strong>Co pro Vás uděláme?</strong>
        </p>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Mrkneme, co se Vám na webu děje
            </li>
            <li>Pošleme nabídku podrobnějšího průzkumu chyb bránících Vám mít čistá data a správná rozhodnutí.
            </li>
            <li>Podle dohody vytvoříme seznam doporučení pro řešení všech nedostatků.
            </li>
            <li>Poskytneme Vám odborné konzultace podle potřeby.
            </li>
            <li>Nechcete to opravovat sami? Pomůžeme!
            </li>
        </ul>
        <br>
        <h2 class="ml-sm-5"> Získejte jistotu, že se rozhodujete na základě správných dat</h2>
        <p class="ml-sm-5"><strong>Vaši Web Analytici z Activate s letitými zkušenostmi 
            třeba od následujících klientů:</strong>
        </p>
    </div>
            <div class="col-12">
                <div class="row" id="reference">
            <div v-for="(reference, index) in references" class="col-md-6 reference" v-show="index < 6 || showReferences">
                <div class="row">
                    <div class="col-4 img-bg" :style="'background-image: url(/assets/imgs/references/' + reference.imgName +'.png)'"></div>
                    <span class="col-8 align-self-center">{{reference.title}}</span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col text-center">
                <button class="button button-blue mt-5" @click="showReferences = !showReferences" v-if="!showReferences" title="Více referencí">Chci vidět víc vaší práce ››</button>
            </div>
        
    
</section>
<section class="row mb-5">
    <div class="col-sm-12 text-content align-self-center">
        <p class="ml-sm-5"><strong>Rychlé odpovědi na závěr:</strong>
        </p>
        <ul class="ml-sm-5 blue-dot-list">            
            <li>Co znamená v url adresách “gclid” a “fbclid” ? Co teprve “rel” nebo “q”?
                <ul>    
                <li><strong>gclid</strong> = automatické značkování googlu (fbclid facebooku), skrývá všechny důležité informace o zdroji, kampani a tak dále
                </li>
                <li><strong>rel</strong> = parametr používaný například při přesměrování, specifikuje vztah mezi původním a linkovaným dokumentem nebo zdrojem
                </li>
                <li><strong>q</strong> = parametr nejčastěji používaný při vyhledávání. Pokud jste interní vyhledávání nenastavili, ale máte v urls alespoň “q” parametry, buďte šťastní, neztratili jste data
                </li>
            </li>
                </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Co znamená v GA hláška “Untagged email campaigns”, “Link analytics and search console” nebo “Missing ecommerce data”
                <ul>    
                <li><strong>Untagged email campaigns</strong>= Google detekoval, že k Vám na web někdo přistupuje z mailových klientů, ale nemá v proklicích specifikovanou kampaň
                </li>
                <li><strong>Link analytics and search console</strong> = Jako vlastník webu máte jistě účet u googlu, kde spravujete parametry, relevantní pro vyhledávání vaší stránky. Pokud si tento účet propojíte s Google Analytics, busou se Vám data synchronizovat a získáte vhledy navíc!
                </li>
                <li>Missing ecommerce data = Zapli jste měření Ecommerce, ale neposíláte žádná data v odpovídajícím formátu, je to třeba implementovat
                </li>
            </li>
                </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Proč mám tuto stránku rozpadlou přes tolik řádků?
                <ul>    
                <li>Nejčastěji jsou na vině nevyloučené parametry nebo rozpad stránky na bez lomítka a s lomítkem na konci. Obojí vyřešíte ideálně filtry.
                </li>
            </li>
                </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Neměl by být seznam.cz spíš organické vyhledávání, než odkazující stránka?
                <ul>    
                <li>Měl, nastavíte to v nastavení property.
                </li>
            </li>
                </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Jaktože mám jiná čísla tady a jiná v Ads / CMS / databázi?
                <ul>    
                <li>Tohle je záludná otázka. Čísla v Google Analytics nikdy nebudou stejná ani jako čísla v jiném analytics nástroji, který nasadíte. Proč? Lidé mohou Ads Blokovat, ale GA ne. V CMS / databázi budete mít i různé testovací přístupy, které Google Analytics odfiltrují. Naopak v GA se občas ,ůže objevit navíc nějaký referral spam. Online svět je složitý a každý měřící systém měří trochu jinak.
                </li>
            </li>
                </ul>
        </ul>
        <span class="comment">[ Získejte jistotu, že se rozhodujete na základě správných dat ]</span>

</section>
<section class="row" id="kontakt">
    <div class="col">
        <h2 class="ml-sm-5">Nezávazna ponuka <!-- Žádný dotaz není blbý! --></h2>
        <p class="ml-sm-5">Neváhejte a požádajte o cenvou ponuku pro audit webové analytiky.</strong></p>
        <p class="ml-sm-5"></p>
        <div class="letter-wrapper">
            <div class="letter">
                <div class="alert alert-success" role="alert" v-if="sent">
                    {{confirm}}
                </div>
                <form class="row text-left" novalidate="true" @submit.prevent="checkForm">
                    <div class="col-lg-5 offset-lg-1 col-md-6 d-none d-sm-block">
                        <div class="form-group">
                            <textarea class="form-control" name="message" v-model="message"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 left-col col">
                        <div class="form-group">
                            <label for="name">Jméno<span class="form-error" v-if="errorName">{{errorName}}</span></label>
                            <input type="text" name="name" id="name" class="form-control" v-model="name">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail<span class="form-error" v-if="errorEmail">{{errorEmail}}</span></label>
                            <input type="email" name="email" id="email" class="form-control" v-model="email">
                            <div class="invalid-feedback" v-if="errorEmail">
                                {{errorEmail}}
                            </div>
                        </div>
                        <div class="form-group d-block d-sm-none">
                            <label for="message2">Váš dotaz?</label>
                            <textarea class="form-control" name="message" v-model="message" id="message2"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control button button-submit">Odeslat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="site-footer row">
    <div class="col-lg col-md-6">
        <span class="comment">[ Tady nás najdeš ]</span>
        <address>
            <h3 class="dark-blue">Etnetera Activate a.s.</h3>
            Classic 7 - budova E<br>
            Jankovcova 1037/49<br>
            170 00 Praha 7<br>
            <br>
            <a onclick="measure({action:'footerClick',footerElementName:'Fakturační údaje'});return false;" href="#" data-toggle="modal" data-target="#billing">Fakturační údaje</a><br>
            <br>
            Tel.: <a href="tel:+420233326810">+420 233 326 810</a><br>
            E-mail: <a href="mailto:info@activate.cz">info@activate.cz</a>
        </address>
    </div>
    <div class="col-lg order-last col-md-12">
        <span class="comment">[ Tady nás najdeš úplně nejvíc! ]</span>
        <div class="row">
            <a onclick="measure({action:'footerClick',footerElementName:'Mapa'}); return false;" href="#" class="col-lg-4 col-md-2 col-6 social-icon" data-toggle="modal" data-target="#map"><img src="/assets/imgs/social/map.png" /><span>Mapa k nám</span></a>
            <a href="https://twitter.com/etneteractivate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Twitter"><img src="/assets/imgs/social/twitter.png" /><span>Twitter</span></a>
            <a href="https://medium.com/etnetera-activate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Medium"><img src="/assets/imgs/social/medium.png" /><span>Blog</span></a>
            <a href="https://www.linkedin.com/company/etnetera-activate" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Linkedin"><img src="/assets/imgs/social/linkedin.png" /><span>Linkedin</span></a>
            <a href="https://zivotsactivate.tumblr.com/" class="col-lg-4 col-md-2 col-6 social-icon" data-walocation="footerClick" data-walinkname="Tumblr"><img src="/assets/imgs/social/tumblr.png" /><span>Tumblr</span></a>
        </div>
    </div>
    <div class="col-lg order-md-2 order-lg-last col-md-6" v-if="mediumArticles">
        <span class="comment">[ Sem píšeme <3 ]</span>
        <h3 class="dark-blue">Activate Medium Blog</h3>
        <ul class="blue-dot-list">
            <li v-for="article in mediumArticles.slice(0, 4)">
                <a :href="article.link" v-html="article.title"></a>
            </li>
        </ul>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="billing" tabindex="-1" role="dialog" aria-labelledby="billingDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="billingDialog">Fakturační údaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-right"><strong>Adresa:</strong></div>
                    <div class="col">
                        <address>
                            <strong>Etnetera Activate a.s.</strong><br />
                            Jankovcova 1037/49<br />
                            170 00 Praha 7<br />
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>IČ:</strong></div>
                    <div class="col">02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>DIČ:</strong></div>
                    <div class="col">CZ02713209</div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Bankovní spojení:</strong></div>
                    <div class="col">
                        Fio 2501686513 / 2010 (CZK)<br /> Fio 2101690054 / 2010 (EUR)<br />
                        <!--KB 107-6999960257 / 0100 (CZK)<br />
                        KB 107-7006180227 / 0100 (EUR) -->
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right"><strong>Zapsána:</strong></div>
                    <div class="col">u MS Praha, sp. zn. B 19645</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapLabel">Tady se nacházíme:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.871625693074!2d14.451913816060918!3d50.1074097794294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94b2bbd59eed%3A0x4186376dbe492f6a!2sEtnetera+Activate+a.s.!5e0!3m2!1scs!2scz!4v1558686906677!5m2!1scs!2scz"
                    width="766" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="/assets/js/lodash.js"></script>
<style></style>
<script src="/assets/js/cookieconsent.js"></script>
<script>


	// window.piwikHeatmapSessionRecordingAsyncInit = function () {
	// 	console.log("piwikHeatmapSessionRecordingAsyncInit")
	// 	Piwik.HeatmapSessionRecording.disable();
	// };

	$(document).on("scroll", function() {

		if(document.body.offsetWidth > 991) {
			if($(document).scrollTop()>10) {
				$("nav").addClass("small-bar");
			} else {
				$("nav").removeClass("small-bar");
			}
        } else {
			if($(document).scrollTop()>0) {
				$("nav").addClass("decorated");
			} else {
				$("nav").removeClass("decorated");
			}
        }


	});

	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyDBi1nrdZDnKdQZVG-et2IdKHtUlhOU-FU",
		authDomain: "activate-website-2.firebaseapp.com",
		databaseURL: "https://activate-website-2.firebaseio.com",
		projectId: "activate-website-2",
		storageBucket: "activate-website-2.appspot.com",
		messagingSenderId: "244205330508"
	};
	firebase.initializeApp(config);

	let app = new Vue({
		el: '#app',
		data: {
			loaded: false,
			references: undefined,
            technologies: undefined,
			peoples: undefined,
			activePeople: undefined,
			mediumArticles: undefined,
            calendar: null,
            showReferences: false,
            activeTechnology: null,
			activeTechnologyDescription: false,
            now: Date.now(),
            timestamp: 0,
            message: "",
            name: "",
            email: "",
            error: "",
			errorName: "",
			errorEmail: "",
            sent: false,
            timer: [],
            confirm: "Váš požadavek na zničení světa byl zaznamenán. O jeho stavu Vás budeme informovat. Děkujeme.",
		},
		methods: {
			startTrackingVirtualPageviewToPiwik(pageName, pageUrl){		
				// _paq.push(['setCustomUrl', pageUrl]);
        		// _paq.push(['setDocumentTitle', pageName]);
        		// _paq.push(['trackPageView']);
				
				document.location.href="#"+pageUrl
				Piwik.HeatmapSessionRecording.enable()
				Piwik.HeatmapSessionRecording.setNewPageView(true)
			},
			setActiveTechnologyByName(technologyName){
				let techKeys=Object.keys(this.technologies)
				// console.log("Searching for technology: "+technologyName)
				for(let i=0;i<techKeys.length;i++){
					let tech = this.technologies[techKeys[i]]
					if(technologyName.toLowerCase() === tech.name.toLowerCase()){
						// console.log("Technology found. Set to: "+ JSON.stringify(tech))
						this.setActiveTechnology(tech)
						
						document.location.href="#"
						document.location.href="#technologies"
					}
				}
			},
            setActiveTechnology: function(technology){
            	this.activeTechnology = technology;
            	this.activeTechnologyDescription = true;
				if (technology.helpName.trim()==="") technology.helpName = technology.name;
				document.getElementById("interested").innerText="[ Potřebujete pomoci s "+ technology.helpName +" ? ]"

				this.startTrackingVirtualPageviewToPiwik(document.title+" : TECHNOLOGY :" + technology.name , "/virtualPages/technology/"+technology.name )
			},
			setActivePeople: function(code){
				var modalId="#people-"+code.toLowerCase();
				this.activePeople=modalId;
				setTimeout(function(){ 
					console.log("Activating modal:"+modalId)
					$(modalId).modal("show")
				}, 500);
				
			},

			checkForm: function (e) {
				this.errorName = "";
				this.errorEmail = "";

				if (!this.name) {
					this.errorName ="Rádi bychom věděli jak se jmenujete.";
				}
				if (!this.email) {
					this.errorEmail = "Bez e-mailu se vám nemůžeme ozvat.";
				} else if (!this.validEmail(this.email)) {
					this.errorEmail = "Váš pravý e-mail by byl fajn.";
				}

				if (this.errorName === "" && this.errorEmail === "") {
					this.storeMessage();
				}

				e.preventDefault();
			},
			validEmail: function (email) {
				const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			},
			storeMessage: function () {
				const url = "https://us-central1-activate-website-2.cloudfunctions.net/saveMessage?message=" + encodeURIComponent(this.message) +  "&email=" + encodeURIComponent(this.email) + "&name=" + encodeURIComponent(this.name);
                console.log("Storing message " + this.message + " for " + this.email + " name: " + this.name);
                //console.log(url)
				measure ({
					action: "contactFormSent",
                    name: this.name,
                    email: this.email,
                    message: this.message
			    })
                if (this.message === "DYCKYMAIL") {
                	this.confirm = "Výtečně. Zase o @ blíže.";
                }


				// ulozeni message
                this.$http.get(url).then(
                    response => {
                        this.sent = true;
                        this.message = "";
                        this.name = "";
                        this.email = "";
                    },
                    response => {
                        this.error = response.status + ' + ' + JSON.stringify(response.body);
                    }
                );
			},
            photoEnter: function(people, index){
                for(let i=1; i <= people.photos; i++) {
                    this.timer[index] = setTimeout(function(){
                        people.actualPhoto = people.short.toLowerCase() + i;
                    }, i*500);
                }
            },
            photoLeave: function(people, index){
            	clearTimeout(this.timer[index]);
            	people.actualPhoto = people.short.toLowerCase() + '1';
            },
			updateLocalStorage: function(){
				console.log("Updating local storage")
				fetch("https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2Fetnetera-activate&api_key=vxx13alxnggbzfqugtped2fmbwko53ry1c8lafmz")
						.then(r => r.json())
						.then(json => {
							this.mediumArticles=json.items;
							localStorage.setItem('medium', JSON.stringify(json.items));
							localStorage.setItem('timestamp', Date.now().toString());
						});

					firebase.database().ref('/content').once('value').then(
						snapshot => {
							data = snapshot.exportVal();
							this.references = data.projects;
							this.peoples = data.peoples;
							this.technologies = data.technologies;

							//order people

							localStorage.setItem('references', JSON.stringify(data.projects));
							localStorage.setItem('peoples', JSON.stringify(data.peoples));
							localStorage.setItem('technologies', JSON.stringify(data.technologies));
							localStorage.setItem('timestamp', Date.now().toString());

							
			
						});
			}

		},
        computed: {
	        filteredTechnologies: function() {
	        	return _.pickBy(this.technologies, function(tech) {
	        		return tech.show
                })
            }
        },
		mounted: function () {
			//Piwik.HeatmapSessionRecording.disable();

			if (localStorage.getItem('medium')) {
				this.mediumArticles = JSON.parse(localStorage.getItem('medium'));
            }
			if (localStorage.getItem('references')) {
				this.references = JSON.parse(localStorage.getItem('references'));
			}
			if (localStorage.getItem('peoples')) {
				this.peoples = JSON.parse(localStorage.getItem('peoples'));
			}
			if (localStorage.getItem('technologies')) {
				this.technologies = JSON.parse(localStorage.getItem('technologies'));
			}
			if (localStorage.getItem('calendar')) {
				this.calendar = JSON.parse(localStorage.getItem('calendar'));
			}
			if (localStorage.getItem('timestamp')) {
				this.timestamp = localStorage.getItem('timestamp');
			}
			if (this.now - this.timestamp > 86400000) {
				this.updateLocalStorage()
            }

			// anchors a dalsi rizeni
			if(document.location.search){
				var urlParams = new URLSearchParams(window.location.search);
				if (urlParams.has('technology')){
					this.setActiveTechnologyByName(urlParams.get("technology"));
				}
				else if (urlParams.has('people')){
					this.setActivePeople(urlParams.get("people"));
				}

				if (urlParams.has("reload")){
					this.updateLocalStorage();
				}
			}

			this.$nextTick(function () {
				//image preloading
				if(window.location.pathname === '/') {
					//let images = [];
                    let cssText = '';
					for (let i = 0; i < _.size(this.people); i++) {

						if(this.people[i].photos !== undefined) {
							//images[i] = [];
							for (let x = 0; x < this.people[i].photos; x++) {
								if(cssText !== '') {
									cssText = cssText + ", ";
                                }
								//images[i][x] = new Image();
								let num = x + 1;
								//images[i][x].src = "/assets/imgs/peoples/mini/" + this.peoples[i].short.toLowerCase() + num +"-min.jpg";
								cssText = cssText + "url('/assets/imgs/peoples/mini/" + this.people[i].short.toLowerCase() + num +"-min.jpg')";
							}
                        }



					}
                    let div = document.createElement("div");
					div.style.backgroundImage = cssText;
					div.style.height = '0px';
					div.style.width = '0px';
					document.body.appendChild(div);
					//console.log(cssText);

				}
            })

		},
	})
</script>
</body>
</html>