---
title: Audit webové analytiky
---
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment">[ Webová analytika ]</span>
        <h1 class="ml-sm-5 underline">Měření = základ státu, webu a marketingu</h1>
        <p class="ml-sm-5">V životě každého markeťáka, UXáka či produkťáka nastává okamžik, kdy se potřebuje
            poprvé podívat na data do Google Analytics a ověřit nějaké hypotézy. To, co uvidí, může být velmi
            matoucí. Dá se těm datům věřit? Potvrzují, nebo vyvracejí jeho hypotézy? Jsou ta čísla dobře
            nebo špatně?
        </p>
    </div>
    <div class="col-sm-4 align-self-center hexagon-wrapper">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="hex-1" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
            <polygon class="hex-2" points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
        </svg>
        <img src="/assets/imgs/audit-analytika-activate-003-web.jpg" />
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <span class="comment">[ Časté otázky ]</span>
        <h2 class="ml-sm-5">Možná jste přišli s některou z&nbsp;následujících otázek:</h2>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Byla moje kampaň úspěšná?
            </li>
            <li><strong>Vyplácí se mi kupovat reklamu spíš od Googlu, </strong>od Seznamu nebo od Facebooku?
            </li>
            <li><strong>Používají lidé novou funkci na webu?</strong> Vyplatí se do ní ještě investovat?
            </li>
            <li><strong>Jaké stránky jsou na mém webu </strong>nejoblíbenější?
            </li>
        </ul>
        <br>
        <p class="ml-sm-5">A místo toho si kladete ještě více otázek:
        </p>
        <br>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Co znamená v URL adresách <strong>“gclid”</strong> a <strong>“fbclid”</strong> ? Co teprve
                <strong>“rel”</strong> nebo <strong>“q”</strong>?
                </strong></li>
            <li>Co znamená v GA hláška <strong>“Untagged email campaigns”</strong>, <strong>“Link analytics and
                    search console”</strong> nebo <strong>“Missing ecommerce data”?</strong>
                </strong>
            </li>
            <li>Proč mám tuto stránku rozpadlou přes tolik řádků?
            </li>
            <li>Neměl by být seznam.cz spíš organické vyhledávání, než odkazující stránka?
            </li>
        </ul>
        <br>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="/assets/imgs/audit-analytika-activate-001-web.jpg" />
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci nacenit audit ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-8 text-content align-self-center">
        <p><span class="comment">[ Prerekvizita k vyhodnocování = dobrá data v Google Analytics ]</span>
        </p>
        <p>
        <h2 class="ml-sm-5">Nejčastější chyby, které se při nasazování Google Analytics dělají:</h2>
        </p>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Měřící skript </strong> je nasazen příliš nízko ve stránce a kvalita měření je pak špatná
            </li>
            <li>Zapomene se na měření mobilní verze webu
            </li>
            <li>Není nastaveno měření vyhledávání, které poskytuje nejvíce vhledu do uživatelských očekávání
            </li>
            <li>Nejsou otagovány kampaně, nebo tagování není jednotné, což se následně obtížně vyhodnocuje
            </li>
            <li>Není implementováno měření důležitých prvků webu (odeslání formuláře, vyplnění formuláře), nebo
                je implementace špatně
            </li>
        </ul>
    </div>
    <div class="col-sm-4 align-self-center">
        <img src="/assets/imgs/audit-analytika-activate-002-web.jpg" />
    </div>
    <div class="w-100"></div>
    <div class="col text-center">
        <a class="button button-blue mt-5" href="#kontakt" title="Kontaktujte nás">Chci nacenit audit ››</a>
    </div>
</section>
<section class="row mb-5">
    <div class="col-sm-12 text-content align-self-center">
        <h2 class="ml-sm-5">Nevíte, co z toho potřebujete a jak to opravit?</h2>
        <p class="ml-sm-5"><strong>Nechte si vše zkontrolovat zkušeným Activejťákem.</strong>
        </p>
        <p class="ml-sm-5"><strong>Co pro Vás uděláme?</strong>
        </p>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Mrkneme, co se Vám na webu děje
            </li>
            <li>Pošleme nabídku podrobnějšího průzkumu chyb bránících Vám mít čistá data a správná rozhodnutí
            </li>
            <li>Podle dohody vytvoříme seznam doporučení pro řešení všech nedostatků
            </li>
            <li>Poskytneme Vám odborné konzultace podle potřeby
            </li>
            <li>Nechcete to opravovat sami? Pomůžeme!
            </li>
        </ul>
        <br>
        <h2 class="ml-sm-5">Získejte jistotu, že se rozhodujete na základě správných dat</h2>
        <p class="ml-sm-5"><strong>Vaši web analytici z Activate mají letité zkušenosti
                třeba od následujících klientů:</strong>
        </p>
    </div>
    <div class="col-12">
        <div class="row" id="reference">
            <div v-for="(reference, index) in references" class="col-md-6 reference"
                v-show="index < 6 || showReferences">
                <div class="row">
                    <div class="col-4 img-bg"
                        :style="'background-image: url(/assets/imgs/references/' + reference.imgName +'.png)'">
                    </div>
                    <span class="col-8 align-self-center">{{reference.title}}</span>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col text-center">
                <button class="button button-blue mt-5" @click="showReferences = !showReferences" v-if="!showReferences"
                    title="Více referencí">Chci vidět víc vaší práce ››</button>
            </div>


</section>
<section class="row mb-5">
    <div class="col-sm-12 text-content align-self-center">
        <p class="ml-sm-5"><strong>Rychlé odpovědi na závěr:</strong>
        </p>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Co znamená v url adresách “gclid” a “fbclid” ? Co teprve “rel” nebo “q”?
                <ul>
                    <li><strong>gclid</strong> = automatické značkování googlu (fbclid facebooku), skrývá
                        všechny důležité informace o zdroji, kampani a tak dále
                    </li>
                    <li><strong>rel</strong> = parametr používaný například při přesměrování, specifikuje vztah
                        mezi původním a linkovaným dokumentem nebo zdrojem
                    </li>
                    <li><strong>q</strong> = parametr nejčastěji používaný při vyhledávání. Pokud jste interní
                        vyhledávání nenastavili, ale máte v urls alespoň “q” parametry, buďte šťastní,
                        neztratili jste data
                    </li>
            </li>
        </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Co znamená v GA hláška “Untagged email campaigns”, “Link analytics and search console” nebo
                “Missing ecommerce data”
                <ul>
                    <li><strong>Untagged email campaigns </strong>= Google detekoval, že k Vám na web někdo
                        přistupuje z mailových klientů, ale nemá v proklicích specifikovanou kampaň
                    </li>
                    <li><strong>Link analytics and search console</strong> = Jako vlastník webu máte jistě účet
                        u googlu, kde spravujete parametry, relevantní pro vyhledávání vaší stránky. Pokud si
                        tento účet propojíte s Google Analytics, busou se Vám data synchronizovat a získáte
                        vhledy navíc!
                    </li>
                    <li>Missing ecommerce data = Zapli jste měření ecommerce, ale neposíláte žádná data v
                        odpovídajícím formátu, je to třeba implementovat
                    </li>
            </li>
        </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Proč mám tuto stránku rozpadlou přes tolik řádků?
                <ul>
                    <li>Nejčastěji jsou na vině nevyloučené parametry nebo rozpad stránky na bez lomítka a s
                        lomítkem na konci. Obojí vyřešíte ideálně filtry.
                    </li>
            </li>
        </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Neměl by být seznam.cz spíš organické vyhledávání, než odkazující stránka?
                <ul>
                    <li>Měl, nastavíte to v nastavení property.
                    </li>
            </li>
        </ul>
        </ul>
        <ul class="ml-sm-5 blue-dot-list">
            <li>Jaktože mám jiná čísla tady a jiná v Ads / CMS / databázi?
                <ul>
                    <li>Tohle je záludná otázka. Čísla v Google Analytics nikdy nebudou stejná ani jako čísla v
                        jiném analytics nástroji, který nasadíte. Proč? Lidé mohou Ads Blokovat, ale GA ne. V
                        CMS / databázi budete mít i různé testovací přístupy, které Google Analytics odfiltrují.
                        Naopak v GA se občas může objevit navíc nějaký referral spam. Online svět je složitý a
                        každý měřící systém měří trochu jinak.
                    </li>
            </li>
        </ul>
        </ul>
        <span class="comment">[ Získejte jistotu, že se rozhodujete na základě správných dat ]</span>

</section>
<section class="row" id="kontakt">
    <div class="col">
        <h2 class="ml-sm-5">Nezávazná nabídka
            <!-- Žádný dotaz není blbý! -->
        </h2>
        <p class="ml-sm-5">Neváhejte a požádajte o cenovou nabídku pro audit webové analytiky.</strong></p>
        <p class="ml-sm-5"></p>
        <div class="letter-wrapper">
            <div class="letter">
                <div class="alert alert-success" role="alert" v-if="sent">
                    {{confirm}}
                </div>
                <form class="row text-left" novalidate="true" @submit.prevent="checkForm">
                    <div class="col-lg-5 offset-lg-1 col-md-6 d-none d-sm-block">
                        <div class="form-group">
                            <textarea class="form-control" name="message" v-model="message"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 left-col col">
                        <div class="form-group">
                            <label for="name">Jméno<span class="form-error"
                                    v-if="errorName">{{errorName}}</span></label>
                            <input type="text" name="name" id="name" class="form-control" v-model="name">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail<span class="form-error"
                                    v-if="errorEmail">{{errorEmail}}</span></label>
                            <input type="email" name="email" id="email" class="form-control" v-model="email">
                            <div class="invalid-feedback" v-if="errorEmail">
                                {{errorEmail}}
                            </div>
                        </div>
                        <div class="form-group d-block d-sm-none">
                            <label for="message2">Váš dotaz?</label>
                            <textarea class="form-control" name="message" v-model="message" id="message2"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control button button-submit">Odeslat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>