---
title: My
---
<h1 class="ml-md-5">Všechno tohle dohromady dává smysl!</h1>
<%- include('../../partials/our-services') %>

<h2 class="ml-md-5">Lidé a jejich příběhy</h2>
<div class="row">
    <a v-for="(member, index) in peoples" :class="'col-md-4 mb-4 media name-'+ index" href="#" data-toggle="modal" :data-target="'#peopleModal-'+ index">
        <div class="image mr-3" :style="'background-image: url(/assets/peoples/'+ member.short.toLowerCase() +'.jpg)'"></div>
        <div class="media-body">
            <h5 class="mt-0">{{member.name}} {{member.lastname}}</h5>
            <span>{{member.position}}</span>
        </div>
    </a>
</div>

<%- include('../../partials/technologies') %>

<!-- Modal -->
<div v-for="(member, index) in peoples" class="modal fade" :id="'peopleModal-'+ index" tabindex="-1" role="dialog" :aria-labelledby="'modal'+ index" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" :id="'modal'+ index">Složka zaměstnance #{{index}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md mb-2"><img :src="'/assets/peoples/'+ member.short.toLowerCase() +'.jpg'" :alt="member.name + member.lastname" /></div>
                    <div class="col-md aboutMember">
                        <div><strong>Hodnost: </strong><span class="underline">{{member.position}}</span></div>
                        <div><strong>Přjmení: </strong><span class="underline">{{member.lastname}}</span><br /></div>
                        <div><strong>Křestní jméno: </strong><span class="underline">{{member.name}}</span><br /></div>
                        <p class="mt-2">{{member.aboutcs}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>